.jumbotron {
    background-image: url('/images/background.jpg');
    color: black;
    padding: 100px 25px;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.jumbotron h1 {
    font-size: 3em;
}

.jumbotron p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #af4c4c;
    border: none;
}

.btn-primary:hover {
    background-color: #45a049;
}

.col-md-4 {
    margin-top: 20px;
}
.row{
    margin-bottom: 50px;
    color: white;
}