<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/index.css" /> 
  <%- include('../partials/header'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/content'); %>
</header>

<main>
  
<div class="container">
  <div class="jumbotron text-center">
    <div class="info-home">
      <h1>Welcome to My Creative Space</h1>
      <p>Crafting Digital Experiences that Leave a Mark</p>
    </div>
      
      <a class="btn btn-primary btn-lg" href="/about" role="button">Learn More About Me</a>
</div>
<div class="row">
  <div class="col-md-4">
      <h2>Who Am I?</h2>
      <p>I'm Suraj Suryabanshi, a passionate web developer dedicated to transforming innovative ideas into digital reality. With a keen eye for design and a love for coding, I bring projects to life.</p>
  </div>
  <div class="col-md-4">
      <h2>What I Do</h2>
      <p>I specialize in various aspects of web development, from creating interactive websites to crafting robust web applications. My expertise lies in frontend and backend technologies, ensuring seamless user experiences.</p>
  </div>
  <div class="col-md-4">
      <h2>Why Choose Me?</h2>
      <p>With a strong commitment to quality and creativity, I strive for excellence in every project. I believe in effective communication, attention to detail, and continuous learning, making your vision my mission.</p>
  </div>
</div>
</div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
