<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/services.css" /> 
  <%- include('../partials/header'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/content'); %>
</header>
<!-- here i show what i offer and bring up to you -->
<main>
  <div class="jumbotron">
    <h1>Empowering Your Digital Vision</h1>
    <p><i>"Explore a World of Expertise Tailored Just For You"</i></p>

    <section class="services">
      <div class="service">
          <img src="/images/programming.jpeg" alt="Programming">
          <h2>General Programming</h2>
          <p>Expertise in various programming languages for software development, scripting, and automation.</p>
      </div>
      <div class="service">
          <img src="/images/webdesign.jpg" alt="Web Development">
          <h2>Web Development</h2>
          <p>Creating responsive and user-friendly websites with the latest technologies and frameworks.</p>
      </div>
      <div class="service">
          <img src="/images/problemsolving.jpg" alt="Problem Solving">
          <h2>Problem Solving</h2>
          <p>Critical thinking Ability and attention to detail..</p>
      </div>
      
  </section>
  </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
